<p>Категория: {{ product.category }} </p>
<p>Название: {{ product.product_name }} </p>
<p>Цена: {{ product.price }} </p>
<p>Год выпуска: {{ product.year }} </p>
{% if product.product_type == True %}
    <p>Состояние: Новый </p>
{% else %}
    <p>Состояние: Б/У </p>
{% endif %}
<p>Описание: {{ product.description }} </p>
<p>Создано: {{ product.created_date }} </p>
{% if product.image %}
    <p><img src="{{ product.image.url }}"></p>
{% else %}
    <p>Изображение не добавлено</p>
{% endif %}

<button type="reset"><a href="{% url 'product_list_url' %}">Cancel</a></button>
<button type="submit"><a href="{% url 'product_update_url' product.pk %}">Update</a></button>
<button type="submit"><a href="{% url 'product_delete_url' product.pk %}">Delete</a></button>
